<%= stylesheet_link_tag "radar" %>
<%= javascript_include_tag "radar" %>
<h2>See who's currently playing</h2>
<div id="radar">
  <div class="radar-bezel">
    <div class="radar-shine"></div>
    <div class="radar-background">
      <div id="radar-area"></div>
      <div class="radar- bordertop"></div>
      <div class="radar-borderbottom"></div>
      <div class="radar-shadow"></div>
    </div>
    <div class="radar-border2"></div>
  </div>
</div>
